#####################################################################################
# Ignore this files
#####################################################################################

*~
.*

#####################################################################################
# Ignore this directories
#####################################################################################

Arduino

#####################################################################################
# Accept this files
#####################################################################################

!.gitignore
